@font-face {
    font-family: 'Neue Montreal';
    src: 
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Thin.woff2),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Thin.woff),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Thin.ttf),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Thin.eot);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: 
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Book.woff2),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Book.woff),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Book.ttf),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Book.eot);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: 
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Italic.woff2),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Italic.woff),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Italic.ttf),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Italic.eot);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Montreal';
    src: 
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Medium.ttf),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Medium.eot);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Montreal';
    src: 
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Bold.woff2),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Bold.woff),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Bold.ttf),
        url(../static/fonts/PPNeueMontreal/PPNeueMontreal-Bold.eot);
    font-weight: 700;
    font-style: normal;
}