// HORIZONTAL SCROLL
body,
html {
  margin: 0;
  font-family: 'Neue Montreal', sans-serif;
}
html {
  scroll-behavior: smooth;
  
}
.home main{
  overflow: hidden;
  display: flex;
}
section.section {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTION 1 - HOME
#home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  .section-text-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    .section-text{
      display: flex;
      flex-direction: column;
      .text-content{
        padding: 0px;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
          padding: 30px 0;
        }
      }
    }
  }
}

// SECTION 2/3/4 - MOSTRA/LIBRO/ABOUT
#mostra, #libro, #about{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  .section-text-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    .section-text{
      display: flex;
      flex-direction: column;
      .text-content{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
          padding: 30px 0;
        }
      }
    }
  }
  .section-img-container{
    padding: 20px;
  }
}

@media(min-width:1000px){

  #home {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    .section-text-container{
      display: flex;
      align-self: flex-start;
      .section-text{
        padding: 30px 20px;
        .text-content{
          width: 40vw;
          p{
            width: 35vw;
            padding: 50px 0;
          }
        }
      }
    }
  }

  // SECTION 1 - HOME
  #home{
    align-items: end;
  }

  // SECTION 2/3/4 - MOSTRA/LIBRO/ABOUT
  #mostra, #libro, #about{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    .section-text-container{
      display: flex;
      align-self: flex-start;
      .section-text{
        padding: 30px 20px;
        .text-content{
          width: 40vw;
          p{
            width: 35vw;
            padding: 50px 0;
          }
        }
      }
    }
    .section-img-container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      padding: 50px;
      img{
        width: 25vw;
        height: auto;
      }
    }
  }
}