header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 9999;
    .logo{
        svg{
            height: 30px;
            width: auto;
            transition: none;
        }
    }
    .burger{
        z-index: 9999;
    }
}

.overflow{
    .logo{
        z-index: 9999;
        svg{
            transition: all 400ms ease-in;
            transition-delay: 500ms;
            path{
                fill: $white;
            }
        }
    }
}

@media(min-width: 1050px){
    .overflow{
        .logo{
            svg{
                height: 150px;
            }
        }
    }
}