header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 9999;
    .logo{
        img{
            height: 30px;
            width: auto;
            transition: all 300ms ease-out;  
        }
        .logo-extended{
            opacity: 0;
        } 
        &:hover{
            .logo-extended{
                opacity: 1;;
            }
            .logo-monogramma{
                opacity: 0;
            }
        }
    }
    .hamburger-icon{
        z-index: 9999;
    }
    .hamburger-content{
        display: none;
    }
}

@media(min-width: 1000px){
    header{
        .logo{
            img{
                height: 40px;
            }
            .logo-extended{
                margin-left: -30px;
            }
        }
    }
}