header{
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 9999;
    .logo{
        position: absolute;
        top: 20px;
        left: 20px;
        img, svg{
            height: 30px;
            width: auto;
            transition: none;
            z-index: 999;
            path{
                transition: all 400ms ease-in;
            }
        }
        .logo-extended{
            opacity: 0;
        } 
        &:hover{
            .logo-extended{
                opacity: 1;;
            }
            .logo-monogramma{
                opacity: 0;
            }
        }
    }
    .burger{
        z-index: 9999;
    }
}

.overflow{
    .logo{
        z-index: 9999;
        img, svg{
            transition: all 500ms ease-out;
            transition-delay: 500ms;
        }
        path{
            fill: $white;
        }
    }
}

@media(min-width: 1000px){
    header{
        .logo{
            img{
                height: 40px;
            }
            .logo-extended{
                margin-left: -30px;
            }
        }
        .overflow{
            .logo{
                img, svg{
                    height: 150px;
                    width: auto;
                }
            }
        }
    }
}