.slider-scanner-container {
    width: 50vw;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    place-items: center;
    .slider-scanner {
        display: flex;
        overflow: hidden;
        height: 100vh;
        background: #333;
        &:hover{
            .scanner{
                opacity: 0.5;
            }
        }
        .scanner {
            width: 200px;
            height: 300px;
            vertical-align: middle;
            border: 2px solid white;
            box-sizing: border-box;
            transition: opacity .2s;
            &:hover{
                opacity: 1;
            }
        }
        .scanner-1{
            background: url('../static/img/scanner/scanner1.webp') no-repeat center center / cover;
        }
        .scanner-2{
            background: url('../static/img/scanner/scanner2.webp') no-repeat center center / cover;
        }
        .scanner-3{
            background: url('../static/img/scanner/scanner3.webp') no-repeat center center / cover;
        }
        .scanner-4{
            background: url('../static/img/scanner/scanner4.webp') no-repeat center center / cover;
        }
        .scanner-5{
            background: url('../static/img/scanner/scanner5.webp') no-repeat center center / cover;
        }
        .scanner-6{
            background: url('../static/img/scanner/scanner6.webp') no-repeat center center / cover;
        }
        .scanner-7{
            background: url('../static/img/scanner/scanner7.webp') no-repeat center center / cover;
        }
        .scanner-8{
            background: url('../static/img/scanner/scanner8.webp') no-repeat center center / cover;
        }
        .scanner-9{
            background: url('../static/img/scanner/scanner9.webp') no-repeat center center / cover;
        }
        .scanner-10{
            background: url('../static/img/scanner/scanner10.webp') no-repeat center center / cover;
        }
        .scanner-11{
            background: url('../static/img/scanner/scanner11.webp') no-repeat center center / cover;
        }
        .scanner-12{
            background: url('../static/img/scanner/scanner12.webp') no-repeat center center / cover;
        }
        .scanner-13{
            background: url('../static/img/scanner/scanner13.webp') no-repeat center center / cover;
        }
        .scanner-14{
            background: url('../static/img/scanner/scanner14.webp') no-repeat center center / cover;
        }
        .scanner-15{
            background: url('../static/img/scanner/scanner15.webp') no-repeat center center / cover;
        }
        .scanner-16{
            background: url('../static/img/scanner/scanner16.webp') no-repeat center center / cover;
        }
        .scanner-17{
            background: url('../static/img/scanner/scanner17.webp') no-repeat center center / cover;
        }
        .scanner-18{
            background: url('../static/img/scanner/scanner18.webp') no-repeat center center / cover;
        }
        .scanner-19{
            background: url('../static/img/scanner/scanner19.webp') no-repeat center center / cover;
        }
        .scanner-20{
            background: url('../static/img/scanner/scanner20.webp') no-repeat center center / cover;
        }
        .scanner-21{
            background: url('../static/img/scanner/scanner21.webp') no-repeat center center / cover;
        }
        .scanner-22{
            background: url('../static/img/scanner/scanner22.webp') no-repeat center center / cover;
        }
        .scanner-23{
            background: url('../static/img/scanner/scanner23.webp') no-repeat center center / cover;
        }
        .scanner-24{
            background: url('../static/img/scanner/scanner24.webp') no-repeat center center / cover;
        }
        .scanner-25{
            background: url('../static/img/scanner/scanner25.webp') no-repeat center center / cover;
        }
        .scanner-26{
            background: url('../static/img/scanner/scanner26.webp') no-repeat center center / cover;
        }
        .scanner-27{
            background: url('../static/img/scanner/scanner27.webp') no-repeat center center / cover;
        }
        .scanner-28{
            background: url('../static/img/scanner/scanner28.webp') no-repeat center center / cover;
        }
        .scanner-29{
            background: url('../static/img/scanner/scanner29.webp') no-repeat center center / cover;
        }
        .scanner-30{
            background: url('../static/img/scanner/scanner30.webp') no-repeat center center / cover;
        }
        .scanner-31{
            background: url('../static/img/scanner/scanner31.webp') no-repeat center center / cover;
        }
        .scanner-32{
            background: url('../static/img/scanner/scanner32.webp') no-repeat center center / cover;
        }
        .scanner-33{
            background: url('../static/img/scanner/scanner33.webp') no-repeat center center / cover;
        }
        .scanner-34{
            background: url('../static/img/scanner/scanner34.webp') no-repeat center center / cover;
        }
        .scanner-35{
            background: url('../static/img/scanner/scanner35.webp') no-repeat center center / cover;
        }
        .scanner-36{
            background: url('../static/img/scanner/scanner36.webp') no-repeat center center / cover;
        }
        .scanner-37{
            background: url('../static/img/scanner/scanner37.webp') no-repeat center center / cover;
        }
        .scanner-38{
            background: url('../static/img/scanner/scanner38.webp') no-repeat center center / cover;
        }
        .scanner-39{
            background: url('../static/img/scanner/scanner39.webp') no-repeat center center / cover;
        }
        .scanner-40{
            background: url('../static/img/scanner/scanner40.webp') no-repeat center center / cover;
        }
        .single-column {
            animation: var(--animation, none) 100s infinite linear;
            &:hover {
                animation-play-state: paused;
            }
            &:nth-of-type(odd) {
                align-self: flex-end;
                --direction: 50%;
            }
            
        }
    }
}
  
@keyframes slide {
    to {
      -webkit-transform: translateY(var(--direction, -50%));
              transform: translateY(var(--direction, -50%));
    }
}