.slider-scanner-container {
    width: 50vw;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    place-items: center;
    .slider-scanner {
        display: flex;
        overflow: hidden;
        height: 100vh;
        background: #333;
        &:hover{
            .scanner{
                opacity: 0.5;
            }
        }
        .scanner {
            width: 200px;
            height: 300px;
            vertical-align: middle;
            border: 2px solid white;
            box-sizing: border-box;
            transition: opacity .2s;
            &:hover{
                opacity: 1;
            }
        }
        .single-column {
            animation: var(--animation, none) 100s infinite linear;
            &:hover {
                animation-play-state: paused;
            }
            &:nth-of-type(odd) {
                align-self: flex-end;
                --direction: 50%;
            }
            
        }
    }
}
  
@keyframes slide {
    to {
      -webkit-transform: translateY(var(--direction, -50%));
              transform: translateY(var(--direction, -50%));
    }
}