body{
    font-family: 'Neue Montreal', sans-serif;
}

p{
    font-size: 1rem;
    line-height: 22px;
}
h1{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 35px;
}
.number-p{
    color: $green;
    padding-right: 50px;
    font-weight: 500;
}

@media(min-width: 700px){

}

@media(min-width: 1000px){
    p{
        font-size: 1.125rem;
        line-height: 24px;
    }
    h1{
        font-size: 8rem;
        line-height: 110px;
    }
}